body {
	background-color: #232256;
}

.loading {
	background: url(../img/loading.gif) no-repeat;
	margin: 0 auto;
	width: 32px;
	height: 32px;
	position: relative;
	top: -496px;
	/*left: 368px;*/
	z-index: 4;
}

#container {
	overflow: hidden;
	width: 1024px;
	height: 768px;
}

#stars{
	z-index: 1;
}

#flowers {
	position: relative;
	top: -772px;
	z-index: 2;
}

#words {
	position: relative;
	top: -1400px;
	left: 205px;
	z-index: 3;
	color: #fff;
	width: 550px;
	height: 475px;
}